/*footer*/
.site-footer{
    padding-top: 100px;
}
.tags-f{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    padding: 4px 10px;
    background: #F5F5F5;
    border-radius: 12px;
}